APP_NAME=S-Fitness
APP_ENV=local
APP_KEY=base64:HZyi++XZ8Wr43s68hpSSStDfwWO/VUHjg+BJ8yIM11c=
APP_DEBUG=true
APP_URL=http://localhost:8080

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

SANCTUM_STATEFUL_DOMAINS=localhost:5173,localhost:8080
FRONTEND_URL=http://localhost:5173

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=splus_db
DB_USERNAME=root
DB_PASSWORD=root

SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=localhost
SESSION_DRIVER=file

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1
